* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma;
    background-color: #acff00;
}

header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f3c95;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
}

header img {
    width: 75px;
    margin: 15px;
}

.topo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.boxmaior {
    width: 65%;
    background-color: #0f3c95;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.noticiaprincipal {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h2, p, h3 {
    text-align: center;
    font-size: auto;
}

.fotoprincipal {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.texto {
    text-align: left;
    padding-top: 10px;
}

.boxfundo {
    display: flex;
    width: 33%;
    background-color: #acff00;
    flex-direction: column;
    justify-content: space-between;
}

.boxpreto {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #0f3c95;
    color: #fff;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

.boxpreto img {
    width: 47%;
    height: auto;
    border-radius: 15px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 200px;
}

.banner img {
    width: auto;
    margin-right: 20px;
    border-radius: 15px;
}

.banner h3 {
    font-size: 20px;
    font-style: italic;
    color: #555;
}

.nivel3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.noticia3 {
    width: 32%;
    background-color: #0f3c95;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 15px;
}

.noticia3 img {
    width: 45%;
    height: auto;
    border-radius: 15px;
}

.textonoticia3 {
    width: 80%;
}

footer{
    background-color: #0f3c95;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    font-size: 15px;
}
